:root {
    --blue: #0d6efd;
    --red: #dc3545;
}

body {
    min-height: 3000px;
}

.form-control {
    border: solid rgb(132, 137, 147);
    border-width: 2px;
}

.search-btn {
    color: white;
    background-color: var(--blue);
    width: 100px;
}

.finish-btn:hover,
.finish-btn:focus{
    color: var(--blue);
    background: white;
    border: solid 1px var(--blue);
}

.unfinish-btn:hover,
.unfinish-btn:focus{
    color: var(--blue);
    background: white;
    border: solid 1px var(--blue);
}

.delete-btn:hover,
.delete-btn:focus{
    color: var(--red);
    background: white;
    border: solid 1px var(--red);
}

.book-detail {
    padding: 2rem;
    border: solid 2px rgb(132, 137, 147);
}

.btn-container {
    padding-top: 3rem;
}

.submit-btn {
    border-width: 2px;
}

.submit-btn:hover,
.submit-btn:focus {
    color: var(--blue);
    background: white;
    border: solid 2px var(--blue);
}

.search-btn:hover,
.search-btn:focus {
    color: var(--blue);
    background: white;
    border: solid 2px var(--blue);
}